* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px 50px;
}
hr {
  height: 1px;
  width: 100%;
}
header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.nav-bar {
  min-height: 70px;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: red;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.socia {
  padding: 10px;
}
.first {
  height: 600px;
  width: 100%;
  display: flex;
}
.Hotrecipes {
  height: 700px;
  width: 50%;
  background-color: #e7fafe;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.badge {
  height: 700px;
  width: 50%;
  background-image: url("/Images/Image\ 1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.bdg {
  transform: translateX(-70px);
  margin-top: 35px;
}
.sppa,
.fork {
  margin-left: 40px;
}
.fork {
  height: 50px;
  width: 55%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.timer {
  background-color: rgb(197, 212, 216);
  width: 45%;
  align-content: center;
  border-radius: 20px;
  height: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.min {
  transform: translateY(7px);
  padding-right: 5px;
}
.for {
  width: 40%;
}
.spicy {
  font-size: 70px;
  margin-left: 40px;
  margin-top: 0px;
}
.john {
  height: 60px;
  width: 90%;
  display: flex;
  margin-top: 20%;
  justify-content: space-between;
  align-items: center;
}
.jhn,
.vidbtn {
  display: flex;
}
.jhn {
  width: 50%;
  margin-left: 30px;
  gap: 15px;
  align-items: center;
}
.viewbtn {
  height: 40px;
  width: 150px;
  padding-right: 40px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.smith {
  font-weight: bold;
  padding-bottom: 10px;
}
.vid {
  height: 20px;
  transform: translateX(-35px);
  margin-top: 10px;
}
.second {
  height: 500px;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-content: center;
}
.cate {
  height: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 45px;
}
.categories {
  font-size: 40px;
}
.catbtn {
  height: 40px;
  width: 15%;
  background-color: #e7fafe;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.view {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.responsive {
  display: none;
}
.brea {
  height: 180px;
  width: 150px;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  transition: all 1s;
}
.brea:hover {
  transform: scale(1.2);
}
.break {
  background: linear-gradient(to top, #7082461a, #70824600);
}
.vegan {
  background: linear-gradient(to top, #6cc63f1a, #6cc63f00);
}
.meat {
  background: linear-gradient(to top, #cc261b1a, #cc261b00);
}
.dessert {
  background: linear-gradient(to top, #f09e001a, #f09e0000);
}
.lunch {
  background: linear-gradient(to top, #0000000d, #00000000);
}
.chocolate {
  background: linear-gradient(to top, #0000000d, #00000000);
}
.third {
  height: 200vh;
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
}
.tasty-recipe {
  padding-bottom: 20px;
  font-size: 40px;
}
.tasty-container {
  padding-bottom: 30px;
}
.fok {
  display: flex;
}
.foks {
  display: flex;
}
.tim {
  height: 40px;
  width: 45%;
  font-size: 10px;
  justify-content: left;
  padding-right: 20px;
  color: gray;
}
.timer-icon {
  height: 20px;
}
.rep {
  height: 180vh;
  width: 30%;
  justify-content: center;
}
.juicy {
  font-weight: bold;
  text-align: left;
  font-size: 17px;
  padding-bottom: 13px;
  padding-top: 5px;
}
.recip {
  height: 300px;
  width: 80%;
  background: linear-gradient(to top, #e7f9fd, #e7f9fd00);
  border-radius: 20px;
  margin-top: 20px;
  padding: 0 20px;
}
.repsize {
  height: 180px;
  width: 100%;
  margin-top: 0px;
  border-radius: 20px;
  transition: all 1s;
}
.repsize:hover {
  transform: scale(1.1);
}
.advert {
  height: 300px;
  width: 45vh;
  margin-top: 5px;
}
.container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.forth {
  height: 500px;
  width: 100%;
  display: flex;
}
.kitchen {
  height: 450px;
  width: 50%;
  background-color: white;
  text-align: start;
  padding-top: 10%;
  padding-left: 5%;
}
.every {
  margin-bottom: 5%;
  font-family: sans-serif;
  font-size: 35px;
}
.learnbtn {
  height: 40px;
  width: 20%;
  margin-top: 7%;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.happychef {
  height: 90%;
  margin-left: 50px;
  margin-top: 8%;
}
.chef {
  height: 450px;
  width: 50%;
  background: linear-gradient(to top, #e7f9fd, #e7f9fd00);
  margin-right: 5%;
  border-radius: 20px;
}
.fifth {
  height: 130vh;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  background: linear-gradient(to top, #e7f9fd, #e7f9fd00);
}
.Checkout {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.chkpng {
  height: 65vh;
  width: 100%;
  margin-top: 20%;
}
.checkbtn {
  height: 40px;
  width: 15%;
  text-align: left;
  padding-left: 15px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.insta {
  transform: translateY(7px);
  translate: -40px;
  color: white;
}
.sixth {
  height: 130vh;
  width: 100%;
}
.try {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 50px;
}
.deli,
.para {
  padding: 20px;
}
.line {
  height: 80vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  padding-top: 50px;
}
.linerr {
  display: none;
}
.line1 {
  height: 95vh;
  width: 22%;
}
.lineimage {
  height: 165px;
  border-radius: 20px;
  margin-left: 4px;
  transition: all 1s;
}
.lineimage:hover {
  transform: scale(1.1);
}
.line2 {
  margin-top: 10%;
}
.seventh {
  height: 500px;
  width: 100%;
  background-color: white;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.subseventh {
  height: 400px;
  width: 100%;
  background-color: #e7f9fd;
  border-radius: 30px;
  padding-bottom: 5px;
}
.inbox {
  padding-top: 40px;
}
.flower {
  height: 20pc;
  transform: translateY(-6px);
}
.foo {
  height: 200px;
  transform: translateY(-5px);
  translate: 42px;
}
.rucola {
  translate: -6pc;
  transform: translateY(8pc);
}
.subscribe {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  height: 50px;
  width: 75%;
  background-color: transparent;
  border: none;
  padding: 8px;
}
.subscribebtn-container {
  height: 50px;
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
.sub {
  height: 40px;
  width: 20%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
footer {
  height: 200px;
  width: 100%;
}
.fdland {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flowbase {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.powered {
  margin-left: 40%;
}
strong {
  color: red;
}

/* responsive width for tablet */
@media screen and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .social .socia {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0px;
    flex-direction: column;
    background-color: white;
    width: 40%;
    text-align: left;
    transition: 0.3s;
  }
  .nav-bar {
    width: 100%;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    margin-left: 50%;
  }
  .first {
    display: block;
    height: 100vh;
  }
  .Hotrecipes {
    width: 100%;
    height: 50vh;
  }
  .john {
    margin-top: 25px;
  }
  .spicy {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .badge {
    height: 50vh;
    width: 100%;
    background-size: cover;
  }
  .bdg {
    height: 90px;
    translate: 5pc;
  }
  body {
    padding: 0 50px;
  }
  .catbtn {
    width: 30%;
  }
  .second {
    padding: 0 20px;
  }
  .view {
    display: none;
  }
  .responsive {
    display: block;
    gap: 10px;
    padding: 0 30px;
  }
  .responsive-break {
    display: flex;
    justify-content: space-between;
  }
  .third {
    height: 83vh;
  }
  .recip {
    height: 200px;
    width: 100%;
    padding: 0 5px;
  }
  .repsize {
    height: 120px;
  }
  .juicy {
    font-size: 13px;
    padding-bottom: 3px;
  }
  .tim {
    width: 50%;
  }
  .advert {
    height: 210px;
    width: 100%;
  }
  .chkpng {
    height: 220px;
  }
  .every {
    font-size: 20px;
    margin-top: 5pc;
  }
  .lorem {
    font-size: 12px;
  }
  .learnbtn {
    width: 50%;
  }
  .happychef {
    translate: -5pc;
    height: 330px;
    transform: translateY(5.8pc);
  }
  .fifth {
    height: 50vh;
  }
  .checkbtn {
    width: 27%;
  }
  .Checkout {
    height: 28vh;
  }
  .sixth {
    padding-top: 20px;
  }
  .lineimage {
    height: 100px;
  }
  .delicious {
    font-size: 21px;
  }
  .sixth {
    height: 65vh;
  }
  .line {
    display: none;
  }
  .linerr {
    display: flex;
    justify-content: space-between;
  }
  .tropic {
    font-size: 10px;
    font-weight: 400px;
  }
  .time {
    height: 50px;
    width: 60%;
    gap: 20px;
  }
  .timerrr {
    height: 50px;
    width: 40%;
    gap: 20px;
  }
  .fork-icon {
    margin-bottom: 10px;
  }
  .seventh {
    height: 40vh;
  }
  .subseventh {
    height: 35vh;
  }
  .flower {
    height: 150px;
    transform: translateY(2.1pc);
    translate: 0.8px;
  }
  .rucola {
    height: 50px;
  }
  .foo {
    height: 150px;
    translate: 1pc;
    transform: translateY(0.8pc);
  }
  .powered {
    margin-left: 10%;
  }
}

/* responsive width for mobile */
@media screen and (max-width: 480px) {
  * {
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  body {
    padding: 0px 30px;
  }
  .bar {
    margin-left: 8.5pc;
  }
  .nav-menu {
    text-align: center;
  }
  /* .first {
    display: block;
    height: 100vh;
  } */
  .recipe-icon {
    height: 100px;
    width: 60%;
  }
  .Hotrecipes {
    width: 100%;
    height: 43vh;
    border-radius: 20px;
  }
  .timer {
    width: 40%;
  }
  .clock {
    width: 50%;
  }
  .fork {
    width: 80%;
    justify-content: space-between;
  }
  .icon-timer {
    height: 25px;
    width: 30%;
  }
  .john {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .jhn-image {
    height: 40px;
    width: 40%;
  }
  .smith,
  .date {
    font-size: 10px;
  }
  .march {
    width: 10pc;
  }
  .video-icon {
    height: 20px;
    width: 20%;
  }
  .vidbtn {
    margin-left: 8px;
  }

  .spicy {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sppa {
    font-size: 12px;
  }
  .badge {
    border-radius: 20px;
  }
  .bdg {
    height: 50px;
    width: 20%;
    translate: 5pc;
  }

  /* second section */
  .catbtn {
    width: 60%;
    font-size: 10px;
  }
  .categories {
    font-size: 25px;
  }
  .responsive {
    display: block;
    gap: 10px;
    padding: 0 0px;
  }
  .responsive-break {
    display: flex;
    justify-content: space-between;
  }
  .brea {
    height: 140px;
    width: 30%;
  }
  .third {
    height: 83vh;
  }
  .tasty-recipe {
    font-size: 25px;
  }
  .tasty-para {
    font-size: 10px;
  }
  .recip {
    height: 200px;
    width: 100%;
    padding: 0 5px;
  }
  .repsize {
    height: 120px;
  }
  .juicy {
    font-size: 13px;
    padding-bottom: 3px;
  }
  .tim {
    width: 50%;
  }
  .advert {
    height: 210px;
    width: 100%;
  }
  .chkpng {
    height: 220px;
  }
  .every {
    font-size: 20px;
    margin-top: 5pc;
  }
  .lorem {
    font-size: 12px;
  }
  .learnbtn {
    width: 50%;
  }
  .happychef {
    translate: -5pc;
    height: 330px;
    transform: translateY(5.8pc);
  }
  .fifth {
    height: 50vh;
  }
  .checkbtn {
    width: 27%;
  }
  .Checkout {
    height: 28vh;
  }
  .sixth {
    padding-top: 20px;
  }
  .lineimage {
    height: 100px;
  }
  .delicious {
    font-size: 21px;
  }
  .sixth {
    height: 65vh;
  }
  .line {
    display: none;
  }
  .linerr {
    display: flex;
    height: 40vh;
  }
  .tropic {
    font-size: 10px;
    font-weight: 400px;
  }
  .time {
    height: 50px;
    width: 60%;
    gap: 20px;
  }
  .timerrr {
    height: 50px;
    width: 40%;
    gap: 20px;
  }
  .fork-icon {
    margin-bottom: 10px;
  }
  .seventh {
    height: 40vh;
  }
  .subseventh {
    height: 35vh;
  }
  .flower {
    height: 150px;
    transform: translateY(2.1pc);
    translate: 0.8px;
  }
  .rucola {
    height: 50px;
  }
  .foo {
    height: 150px;
    translate: 1pc;
    transform: translateY(0.8pc);
  }
  .powered {
    margin-left: 10%;
  }

  /*.john {
    margin-top: 25px;
  }
  .spicy {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .badge {
    height: 50vh;
    width: 100%;
    background-size: cover;
  }
  .bdg {
    height: 10px;
    translate: 5pc;
  } */
}
