* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px 50px;
}
header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.nav-bar {
  min-height: 70px;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: red;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.socia {
  padding: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: red;
}
.first {
  height: 150px;
  width: 100%;
  background-color: white;
}
.John {
  display: flex;
}
.subfirst {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prep {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 70%;
}
.coo {
  height: 30px;
  transform: translateY(30px);
}
.jhn {
  height: 50px;
  transform: translateY(20px);
}
.print {
  height: 50px;
  width: 50px;
  background-color: #e7fafe;
  border: none;
  border-radius: 50%;
}
.prin {
  padding-right: 20px;
}
.printbtn {
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: end;
}
.second {
  height: 500px;
  width: 100%;
  display: flex;
}
.video {
  height: 500px;
  width: 70%;
}
.videoimage {
  height: 500px;
}
.nutrient {
  height: 500px;
  width: 40%;
  background-color: #e7fafe;
  padding: 30px;
  border-radius: 30px;
}
.calories {
  display: flex;
  justify-content: space-between;
}
.nut {
  margin-top: 40%;
  text-align: center;
}
.third {
  height: 130px;
  width: 100%;
}
.forth {
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ingredient {
  height: 110vh;
  width: 70%;
}
.repimage {
  height: 100px;
  border-radius: 20px;
}
.other {
  height: 120px;
  width: 100%;
  display: flex;
}
.par {
  padding-left: 20px;
}
.advt {
  height: 250px;
  margin-top: 10px;
}
.fifth {
  height: 130vh;
  padding: 0px 40px;
}
.lore,
.fifthimage {
  padding-left: 30px;
}
.sixth {
  height: 500px;
  width: 100%;
  background-color: white;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.subsixth {
  height: 400px;
  width: 100%;
  background-color: #e7f9fd;
  border-radius: 30px;
  padding-bottom: 5px;
}
.inbox {
  padding-top: 40px;
}
.flower {
  height: 20pc;
  transform: translateY(10px);
}
.foo {
  height: 200px;
  transform: translateY(13px);
  translate: 42px;
}
.subscribe {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  height: 50px;
  width: 75%;
  background-color: transparent;
  border: none;
  padding: 8px;
}
.subscribebtn-container {
  height: 50px;
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
.sub {
  height: 40px;
  width: 20%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
.seventh {
  height: 350px;
  width: 100%;
  display: block;
  text-align: center;
}
.recomendation {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.tropical {
  height: 180px;
}
.western {
  display: flex;
  margin-left: 10px;
}
footer {
  height: 200px;
  width: 100%;
}
.fdland {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.flowbase {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.powered {
  margin-left: 40%;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .socia {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0px;
    flex-direction: column;
    background-color: white;
    width: 30%;
    text-align: left;
    transition: 0.3s;
  }
  .nav-bar {
    width: 100%;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    margin-left: 30%;
  }
}
